snippet react_class "class component extends React.Component"
class ${1:component} extends React.Component {
  state = {}

  render () {
    return (
      <div>
	${0}
      </div>
    )
  }
}
endsnippet
