snippet less_flex_tool "less flex layout tool style"
.flex {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.justifyFlexEnd {
  justify-content: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.justifyFlexStart {
  justify-content: flex-start;
}

.alignFlexStart {
  align-items: flex-start;
}

.alignFlexEnd {
  align-items: flex-end;
}

.alignCenter {
  align-items: center;
}
endsnippet
